@import '../../styles/variables.scss';
@import '../../styles/mixin.scss';

.OtherAnnouncement {
  display: flex;
  flex-direction: column;
  gap: 14px;
  margin-top: 26px;
  .AnnouncementContainer {
    margin: 0;
    .Announcement {
      gap: 14px;
    }
  }
}
