@import '../../styles/variables.scss';
@import '../../styles/mixin.scss';

.AnnouncementContainer {
  margin: 18px 0 0 ;
  overflow: hidden;
  &.Grid {
    gap:20px;
    display: grid;
    grid-template-columns: repeat(3, minmax(100px, 1fr));
    justify-content: space-between;

    @media screen and (max-width: 900px) {
      grid-template-columns: repeat(2, minmax(100px, 1fr));
      gap: 30px;
    }

    @media screen and (max-width: 600px) {
      gap: 15px;
    }
  }
}

