@import '../../styles/variables.scss';
@import '../../styles/mixin.scss';

.AnnouncementContainer {
  display: flex;
  flex-direction: column;
  gap: 14px;
  margin: 18px 0 0 ;
  overflow: hidden;
  &.Grid {
    gap: 25px 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-between;

    @media screen and (max-width: 900px) {
      grid-template-columns: 1fr 1fr;
      gap: 14px;
    }

    @media screen and (max-width: 600px) {
      grid-template-columns: 1fr 1fr;
      gap: 14px;
    }
  }
}

