@import '../../styles/variables.scss';
@import '../../styles/mixin.scss';

.Button {
  display: flex;
  flex-shrink: 0;
  height: 44px;
  padding: 0 24px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-family: Montserrat;
  color: $white;
  transition:
    0.25s ease-out background,
    0.25s ease-out opacity;
  width: max-content;
  line-height: normal;

  &.fullWidth {
    width: 100%;
  }

  &:disabled {
    background-color: $light-gray !important;
  }
}

.green {
  background-color: $main-green;
  &:hover:not(:disabled) {
    background-color: $green-light;
  }
}

.gray {
  background-color: $light-gray;
  &:hover:not(:disabled) {
    background-color: $dark-gray;
  }
}

.blue {
  background-color: $blue;
  &:hover:not(:disabled) {
    background-color: $light-blue;
  }
}

.yellow {
  background-color: $accent;
  &:hover:not(:disabled) {
    background-color: $light-accent;
  }
}

.red {
  background-color: $red;
  &:hover:not(:disabled) {
    background-color: $light-red;
  }
}

.white {
  background-color: $white;
  &:hover:not(:disabled) {
    background-color: $white;
  }
}

.gold {
  background-color: $gold;
  &:hover:not(:disabled) {
    background-color: $gold;
    opacity: 0.7;
  }
}

.neutral {
  display: flex;
  height: 44px;
  padding: 0 20px 0 13px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background-color: #f6fffc;
  color: $black;
  transition:
    0.25s ease-out background,
    0.25s ease-out color;
  width: max-content;

  &:hover:not(:disabled) {
    background-color: $hover-gray;
  }
  svg {
    width: 12px;
    height: auto;
  }
}
.deleteProfile {
  display: flex;
  height: 32px;
  padding: 0 20px 0 13px;
  justify-content: center;
  align-items: center;
  gap: 4px;
  background-color: $light-gray;
  font-family: Helvetica Neue;
  color: $black;
  transition:
    0.25s ease-out background,
    0.25s ease-out color;
  width: max-content;
  &:hover:not(:disabled) {
    background-color: $hover-gray;
  }
  svg {
    width: 18px;
    height: 18px;
  }
}

.ghost {
  background-color: transparent;
  &:hover:not(:disabled) {
    background-color: transparent;
  }
}
