@import '../../styles/variables.scss';
@import '../../styles/mixin.scss';

.Category {
  display: flex;
  height: 44px;
  padding: 0 10px;
  justify-content: left;
  align-items: center;
  gap: 14px;
  width: 100%;
  border-radius: 0;
  background-color: none;
  font-family: Montserrat;
  color: $black;
  transition:
    0.25s ease-out background,
    0.25s ease-out padding;
  border-bottom: 1px solid $light-gray;

  .rightItem {
    margin-left: auto;
    margin-right: 14px;
  }

  &.active {
    border: none;
    color: $main-green;
    font-weight: 700;

    svg path{
      fill: $main-green;
    }
  }

  svg {
    width: 24px;
    height: auto;
  }

  &:hover {
    background-color: $green-light;
    color: $white;
    svg path{
      fill: $white;
    }
  }
}

.withBorder {
  border-bottom: 1px solid $light-gray;
}

.noBorder {
  border: none !important;
}