@import '../../styles/variables.scss';
@import '../../styles/mixin.scss';

.InputImages {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 8px;
  background-color: $light-gray;
  border-radius: 6px;
  border: 1px dashed $dark-gray;
  padding: 8px;
  height: 206px;
  .GridContainer {
    position: absolute;
    width: 100%;
    height: 100%;
    display: grid;
    gap: 8px;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    left: 0;
    top: 0;
    padding: 8px;
    z-index: 2;
    .GridItem {
      position: relative;
      border-radius: 6px;
      overflow: hidden;
      &:first-child {
        grid-column: 1 / 3;
        grid-row: 1 / 3;
        &::before {
          position: absolute;
          left: 0;
          bottom: 0;
          height: 18px;
          content: 'Основное';
          display: block;
          background: $main-brand;
          border-radius: 0 6px 0 0;
          padding: 0 6px;
          //@include Heading5Medium();
          color: $white;
        }
        .Images{
          border: 2px solid $main-brand;
          border-radius: 6px;
        }
      }
      .Images {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
      .ButtonDelete {
        position: absolute;
        right: 0px;
        top: 0px;
        z-index: 2;
      }
    }
  }
  .FormContainer {
    padding: 20px 0 0 0;
    width: 100%;
    position: absolute;
    display: flex;
    gap: 14px;
    align-items: center;
    flex-direction: column;
    top: 0;
    left: 0;
    transform: translate(-50% -50%);
    .Heading4 {
      width: 200px;
      text-align: center;
      color: $text-gray;
    }
  }

  .Load {
    text-decoration: none;
    color: transparent;
    height: 100%;
    z-index: 1;
    cursor: pointer;
    &::-webkit-file-upload-button {
      visibility: hidden;
    }
  }
  .Submit {
    padding: 0 24px;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    overflow: hidden;
    background: $blue;
    color: $white;
    @include Heading3();
    flex-shrink: 0;
    width: 100%;
    position: relative;
    z-index: 1;
  }

  .label {
    width: 100%;
  }
}
