@import '../../styles/variables.scss';
@import '../../styles/mixin.scss';

.FlexContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.gap4 {
  gap: 4px;
}

.gap8 {
  gap: 8px;
}

.gap10 {
  gap: 10px;
}

.gap14 {
  gap: 14px;
}

.gap16 {
  gap: 16px;
}

.gap20 {
  gap: 20px;
}

.gap30 {
  gap: 30px;
}

.justify-center {
  justify-content: center;
}

.justify-evenly {
  justify-content: space-evenly;
}

.justify-around {
  justify-content: space-around;
}

.flex-start {
  justify-content: flex-start;
}

.row {
  flex-direction: row;
}

.column {
  flex-direction: column;
}

.align-start {
  align-items: flex-start;
}

.align-center {
  align-items: center;
}

.align-end {
  align-items: flex-end;
}