@import "../../styles/variables.scss";
@import "../../styles/mixin.scss";

.RegistrationForm {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 14px;
  .Input {
    margin: 2px 0 0 0;
  }
  .Button {
    width: 100%;
  }
  .ButtonSendSms {
    margin: 0 -10px 0 0;
    height: 32px;
    min-width: 141px;
    position: relative;
    overflow: hidden;
  }
  .Heading5 {
    text-align: center;
    color: $text-gray;
    a {
      position: relative;
      color: $text-gray;
      text-decoration: underline;
    }
  }
  .Heading4 {
    text-align: center;
  }
}
