//$light-branded: #0cbe6f;
//$main-brand: #09ad64;
//$dark-branded: #029554;
//$light-accent: #ffde54;
//$accent: #fdcc00;
//$dark-accent: #ecbe00;
//$black: #000;
//$grey-text: #888d97;
//$light-blue: #4985f9;
//$blue: #3875ea;
//$dark-blue: #2d68db;
//$light-red: #e56453;
//$red: #cc5849;
//$dark-red: #b84b3d;
//$hover-gray: #f8f9ff;
//$light-gray: #f0f1f5;
//$medium-gray: #e9ecf9;
//$dark-gray: #e1e2e5;
//$text-gray: #888d97;
//$white: #fff;
//$facebock: #435894;
//$apple: #222;
//$facebock-hover: #5169ae;
//$google-hover: #df6959;
//$apple-hover: #222;
//$backdrop: rgba(34, 37, 49, 0.7);

$white: #fff;
$black: #000;
$dark: #000;
$gray-text: #888d97;
$red: #cc5849;
$main-green: #143a2f;
$green-light: #4e6c50;

$light-branded: #4e6c50;
$main-brand: #143a2f;
$dark-branded: #029554;
$light-accent: #ffde54;
$accent: #fdcc00;
$dark-accent: #ecbe00;
$black: #000;
$grey-text: #888d97;
$light-blue: #4985f9;
$blue: #3875ea;
$dark-blue: #2d68db;
$light-red: #e56453;
$red: #cc5849;
$dark-red: #b84b3d;
$hover-gray: #f8f9ff;
$light-gray: #f0f1f5;
$medium-gray: #e9ecf9;
$dark-gray: #e1e2e5;
$text-gray: #888d97;
$white: #fff;
$facebock: #435894;
$apple: #222;
$facebock-hover: #5169ae;
$google-hover: #df6959;
$apple-hover: #222;
$backdrop: rgba(34, 37, 49, 0.7);
$gold: #c5975b;
$green: #143a2f;
