@import '../../styles/variables.scss';
@import '../../styles/mixin.scss';

.RightBlock {
  width: 100%;
  padding-top: 30px;
  background: $white;
  overflow: hidden;
  height: max-content;

  @media (max-width: 1200px) {
    padding: 30px;
  }
}
