@import '../../styles/variables.scss';
@import '../../styles/mixin.scss';

.ButtonDelete {
  display: flex;
  align-items: center;
  justify-content: center;
  background: $red;
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  transition: 0.25s ease-out background;
  svg {
    width: 14px;
    height: auto;
  }
  &:hover {
    background-color: $google-hover;
  }
}
