@import '../../../../styles/variables.scss';

.image {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  background-color: $gold;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;

  & > * {
    color: white;
    text-transform: capitalize;
  }

  & > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}