@import '../../styles/variables.scss';
@import '../../styles/mixin.scss';

.PostDescription {
  padding: 4px 0;
  display: flex;
  flex-direction: column;
  gap: 14px;
  .ButtonLogin {
    border-radius: 6px;
    background: $light-gray;
    margin: 0 0 0 auto;
    width: max-content;
    height: 32px;
    padding: 0 32px;
    color: $grey-text;
    gap: 4px;
    svg {
      width: 18px;
      height: 18px;
      path {
        transition: ease-out 0.25s fill;
        fill: $grey-text;
      }
    }
    &:hover {
      background: $hover-gray;
      color: $light-blue;
      svg {
        path {
          fill: $light-blue;
        }
      }
    }
  }
}
