@import '../../../styles/variables.scss';
.wrapper {
  display: flex;
  flex-direction: column;
  gap: 14px;
  background: $white;
  overflow: hidden;


  @media (max-width: 1200px){
    position: fixed;
    height: 100vh !important;
    top: 64px;
    left: 0;
    padding: 0 20px;
    width: 100%;
    background: $white;
    z-index: 1;
  }

  @media (max-width: 600px){
    top: 117px;
  }


}

.last {
  & > button {
    border: none;
  }
}