@import '../../../styles/variables.scss';
.wrapper {
  display: flex;
  flex-direction: column;
  gap: 14px;
  background: $white;
  border-radius: 6px;
  overflow: hidden;
}

.last {
  & > button {
    border: none;
  }
}