@import '../../styles/variables.scss';

.wrapper {
  height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.text {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.grayText {
  color: $text-gray;
}