@import '@/styles/variables.scss';

.backdrop {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  inset: 0;
  z-index: 999;
  overflow: auto;
  overflow-x: hidden;
  background-color: $backdrop; 
  transition: opacity 0.3s;
  width: 100%;
  height: 100%;

  &.hidden {
    opacity: 0;
  }

  &.visible {
    opacity: 1;
  }
}

.backdropXl {
  @media screen and (max-width: 1200px) {
    //background-color: transparent;
    //align-items: flex-end;
    //height: calc(100vh - 88px);
    //top: 88px;
  }

  @media screen and (max-width: 600px) {
    top: 84px;
    height: calc(100vh - 84px);
  }
}