@import '../../styles/variables.scss';
@import '../../styles/mixin.scss';

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 14px;
  background: $white;
}

.divider {
  background-color: $dark-gray;
  height: 1px;
  width: 100%;
}

.cityReset {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 14px;
  button{
    transition: .25s ease-out  color;
    color: $grey-text ;
    &:hover{
      color: $light-blue;
    }
  }

}

.price {
  display: flex;
  gap: 8px;
}

.w100 {
  width: 100%
}